NEXT_PUBLIC_SUPABASE_URL=https://ijqahkesrmpmihdagtjp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqcWFoa2Vzcm1wbWloZGFndGpwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzMTc1MTUsImV4cCI6MjA5MDg5MzUxNX0.OOCu_3XTEIkD2sbWHsXMWXAJ0tJrTqpuOWOwYF2PMz0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlqcWFoa2Vzcm1wbWloZGFndGpwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTMxNzUxNSwiZXhwIjoyMDkwODkzNTE1fQ.4SAh_Dt0BiEzcrafgsDlvlNkiUM0WBWPdjSnXWwzMyA
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
NEXT_PUBLIC_RAZORPAY_KEY_ID=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
ADMIN_EMAIL=mohaktnbt@gmail.com
